* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.greeting {
  margin-top: 20px;
}

#map-canvas {
  height: 500px;
  border: 5px solid black;
  margin: 10px;
}

.wikipedia-container {
  padding: 10px;
  margin-right: 10px;
  background-color: rgba (255,255,255,0.7);
}