* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

label {
  margin-left: 16px;
}

.greeting {
  margin-top: 20px;
  margin-left: 10px;
}

.map-canvas {
  height: 450px;
  border: 4px solid black;
  margin: 10px;
}

.wikipedia-container {
  position: left;
  background-color: rgba (255,255,255,0.7);
}

.click:hover, .poi:hover {
  font-weight: bold;
  cursor: pointer;
}

@media all and (orientation:landscape) and (max-device-width: 768px) {
  .allPlaces {
    margin-right: -90px;
  }

  .map-canvas {
    margin: 5px;
    height: 350px;
    width: 60%;
    float: left;
  }
}

@media only screen and (max-device-width: 768px) {
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  p, li, form {
    font-size: 10px;
  }

  .map-canvas {
    height: 350px;
  }
}